<div class="login-wrap" style="margin-top: 10%">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Recuperar contrase単a</label>
		<form Action='@Url.Action("olvide","account")' class="login-form">
			<div class="group">
					<label for="user" class="label">Usuario</label>
					<input id="user" type="text" class="input">
				</div>
			<div class="group">
				<label for="pass" class="label">Ingrese la nueva contrase単a</label>
				<input id="pass" type="password" class="input" data-type="password">
			</div>
			<div class="group">
				<label for="pass" class="label">Repita la nueva contrase単a</label>
				<input id="pass" type="password" class="input" data-type="password">
			</div>
			<div class="group">
				<input type="submit" class="button" value="Cambiar contrase単a">
			</div>
		</form>
	</div>
</div>