USE [master]
GO
/****** Object:  Database [base_de_datos-TP09]    Script Date: 28/9/2023 15:17:41 ******/
CREATE DATABASE [base_de_datos-TP09]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'base_de_datos-TP09', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\base_de_datos-TP09.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'base_de_datos-TP09_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\base_de_datos-TP09_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [base_de_datos-TP09].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [base_de_datos-TP09]
GO
/****** Object:  User [alumno]    Script Date: 28/9/2023 15:17:41 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 28/9/2023 15:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[username] [int] IDENTITY(1,1) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[telefono] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
